<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>考试登录</title>

    <!-- Bootstrap -->
    <link rel='stylesheet' href='/dxxxhjs/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/dxxxhjs/stylesheets/style.css' />
    <link rel="stylesheet" href="/dxxxhjs/stylesheets/layui.css" media="all">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      body{
        padding: 0;
        font-family: '微软雅黑';;
        width: 100%;
        height:auto;
        background:url("/dxxxhjs/stylesheets/login_bg.jpg") no-repeat;
        background-size: 100%;
        /*position: relative;    */
      }
      .footer{
        text-align: center;
        position: fixed;
        top: 95%;
        left: 0px;
        right: 0px;
        width: 350px;
        height: 200px;
        margin-left:auto;
        margin-right:auto;
      }
      .footer-logo{
        height: 50px;
        margin-right: 15px;
        display: inline-block;
      }
      .loginbtn{ 
        position: fixed;
        top: 45%;
        left: 0px;
        right: 0px;
        width: 350px;
        height: 50px;
        margin-left:auto;
        margin-right:auto; 
      }
      .info{
            left: 100px;
        position: fixed;
        bottom: 145px;
      }
      .layui-btn-normal{
            font-size: 20px;
        background-color: #94003F !important;
      }
      .word{
        color:#AEAEAE;
      }
    </style>
  </head>
  <body>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="footer">
              <span>2018 © 深圳大学党委组织部</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button class="layui-btn layui-btn-radius layui-btn-normal loginbtn" id="login"><strong>进 &nbsp;&nbsp; 入 &nbsp;&nbsp; 考 &nbsp;&nbsp; 试</strong></button>
          </div>
        </div>
        <div class="row">
          <div class="col-12 info">
            <p class="word"><strong>考生须知：</strong></p>
            <p class="word">1.点击“开始考试”，在登陆界面填写本人校园卡号和密码，登陆后开始考试</p>
            <p class="word">2.考试题型包括单项选择题，多想选择题和判断题，共50道题目，答题时间40分钟</p>
            <p class="word">3.每场考试共有两次机会，考试结束后系统会自动生成成绩，80分以上为合格，如第一次考试未通过，可继续进行第二次考试</p>
            <p class="word">4.请严格遵守考场纪律，严禁作弊，考试期间如有考试内容以外的问题，可举手向监考老师说明，不得向其他考生询问</p>
          </div>
        </div>
      </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src='/dxxxhjs/javascripts/jquery-1.10.2.min.js' ></script>
    <script type="text/javascript" src='/dxxxhjs/javascripts/bootstrap.min.js' ></script>
    <script src="/dxxxhjs/javascripts/layui.js"></script>
    <script type="text/javascript">
      $(function(){
        'use strict'
        layui.use(['table','layer','form'], function(){
          $('#login').on('click',function(){
          
            var kslianjie = '<%=kslianjie%>'
            if(!kslianjie){
              console.log('kslianjie---->',kslianjie)
              layer.open({
                  title: '提示',
                  content: '当前暂无考试',
                  end:function(){
                  }
              }); 
            }else{
              console.log('kslianjie---->',kslianjie)
              window.location.href = 'http://' + kslianjie
            }
          })
        })
      })
    </script>
  </body>
</html>