body {
  font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.canclepadding{
	padding: 0 0 !important;
}
.demoTable{
	padding-top:5px; 
}
*{
	-webkit-box-sizing:inherit;
	-moz-box-sizing:inherit;
	box-sizing: inherit;
}
.layui-form-item{
	margin-top: 8px;
	margin-bottom: 0px;
}
legend{
	width:auto;
}
/* label宽度改大一点80to100 */
.label_big{
	width:100px;
}