<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/dxxxhjs/favicon.ico"/>

    <title>后台管理</title>


    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='/dxxxhjs/stylesheets/bootstrap.min.css' />
    <link rel="stylesheet" href="/dxxxhjs/stylesheets/layui.css" media="all">

    <!-- Custom styles for this template -->
    <link href="/dxxxhjs/stylesheets/style.css" rel="stylesheet">
    <link href="/dxxxhjs/stylesheets/offcanvas.css" rel="stylesheet">
    <style type="text/css">
      .list-group a{cursor: pointer;}
      .list-group a:hover{
        background-color: #0275d8;
        color:red;
      }
      .list-group-item.active{
        color:white !important;
      }
      .list-group a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
        color:white;
      }
      /*.list-group a:not([href]):not([tabindex]){
        color:white;
      }*/
    </style>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row" style="padding: 0 15px;">
        <div class="col-12" style="min-height: 100px;background-color: #C91B1C;padding: 0 0;">
          <img class="img-responsive" src="/dxxxhjs/stylesheets/head_top.jpg">
        </div>
      </div>

      <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-6 col-md-1 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a class="list-group-item active" id="drtk">导入题库</a>
            <a class="list-group-item" id="cxtk">题库详情</a>
            <a class="list-group-item" id="tktj">题库统计</a>
            <a class="list-group-item" id="sjsz">试卷设置</a>
            <a class="list-group-item" id="kscj">考生成绩</a>
            <a class="list-group-item" id="cjtj">成绩统计</a>
            
          </div>
        </div><!--sidebar-->
    <div class="row">
          <div class="col-12">
            <p class="float-left hidden-md-up">
              <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">菜单</button>
            </p>
          </div>
        </div>
        <div class="col-12 col-md-11">
          <div id="middle-container" class="row-fluid"></div>
        </div><!--middle-container-->

        
      </div><!--/row-->

      <hr style="height:1px;border:none;border-top:1px dashed #F08080;">

      <footer>
        <p class="text-center">2018 &copy; 深圳大学党委组织部</p>
      </footer>

    </div><!--/.container-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/dxxxhjs/javascripts/jquery-3.1.1.js"></script>
    <script>window.jQuery || document.write('<script src="/dxxxhjs/javascripts/jquery-3.1.1.js"><\/script>')</script>
    <script src="/dxxxhjs/javascripts/tether.min.js"></script>
    <script src="/dxxxhjs/javascripts/bootstrap.min.js"></script>
    <script src="/dxxxhjs/javascripts/layui.js"></script>
    <script type="text/javascript" src='/dxxxhjs/javascripts/echarts.min.js' ></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/dxxxhjs/javascripts/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript">
    $(function(){
      $('#middle-container').load('/dxxxhjs/manage/drtk',function(result){
        $result = $(result)
        $result.find("script").appendTo('#middle-container');
      })
      layui.use(['table','layer','form'], function(){
          $('.list-group-item').on('click',function(e){
          'use strict'
          let mask = layer.load(1, {shade: [0.8, '#393D49']});
          // layer.msg('加载中', {
          //   icon: 16
          //   ,shade: 0.01
          // });
          let current_active_a_id = $('.list-group-item.active').attr('id'),
              current_id = $(this).attr('id') 
          $('#middle-container').load('/dxxxhjs/manage/'+current_id+'',function(result){
            layer.close(mask);
            $('#'+current_active_a_id).toggleClass('active')
            $('#'+current_id).toggleClass('active')
            $result = $(result)
            $result.find("script").appendTo('#middle-container')
            $('.row-offcanvas').toggleClass('active')
          })
        })
      })
      $('[data-toggle="offcanvas"]').click(function () {
        $('.row-offcanvas').toggleClass('active')
      });
     })
    </script>
  </body>
</html>
