<div class="row" style="text-align:right;">
    <div class="col-12">
      <p class="pull-right" style="font-size:14px;">当前用户：<span style="color:red;" id="user"><%=user.cn%></span> &nbsp;&nbsp;&nbsp;校园卡号：<span style="color:red;" id="xiaoyuankahao"><%=user.alias%></span> &nbsp;&nbsp;&nbsp;单位：<span style="color:red;" id="danwei"><%=user.eduPersonOrgDN%></span></p>
    </div>
</div>
<div class="col-12">
  <div class="jumbotron">
      <h3>考生成绩</h3>
      <h4>该功能尚在完善</h4> 
  </div>
</div>
