  <div class="col-md-12" style="margin-top:15px;">  
    <fieldset class="layui-elem-field">
      <legend>试卷设置</legend>
      <div class="layui-field-box">
        <form class="layui-form" action="">
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">所属模块</label>
              <div class="layui-input-inline">
                <input type="text" name="catname" id="catname" class="layui-input" disabled >
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">是否启用</label>
              <div class="layui-input-inline">
                <input type="text" name="inused" id="inused" class="layui-input" disabled >
              </div>
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">题干</label>
            <div class="layui-input-block">
              <input type="text" name="timu" id="timu" class="layui-input" disabled >
            </div>
          </div>

          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">类型</label>
              <div class="layui-input-inline">
                <input type="text" name="leixing" id="leixing" class="layui-input" disabled >
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">该题分值</label>
              <div class="layui-input-inline">
                <input type="text" name="feizhi" id="fenzhi" class="layui-input" disabled >
              </div>
            </div>
          </div>

          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">答案</label>
              <div class="layui-input-inline">
                <input type="text" name="zqda" id="zqda" class="layui-input" disabled >
              </div>
            </div>
          </div>

          
        </form>
      </div>
    </fieldset>
  </div>

